
em {
   font-style:italic;
}

code {
   font-family:monospace;
   color:darkblue;
}

p {
   margin-bottom: 0.5em;
}

blockquote {
   border-left:5px solid lightgrey;
   margin:1em;
   padding:0.5em 1em;
}

body {
   font-size: 15px;
   /*background-image:url('/butterfly/img/paris-blur.jpg');*/
   background-repeat:no-repeat;
   background-size:cover;
}

#wrapper {
   width:900px;
   margin:20px auto;
   padding:20px;
   font-family: Georgia, serif;
   background-color:white;
}

#header {
   margin-bottom:3em;
}

#logo {
   font-size:4em;
   float: left;
}

#logo img {
   border:solid 2px white;
   opacity:1;
   filter:alpha(opacity=100); /* For IE8 and earlier */
}
#logo img:hover {
   border:solid 2px lightgray;
   opacity:0.4;
   filter:alpha(opacity=40); /* For IE8 and earlier */
}

#logo a {
   color:black;
   text-decoration:none;
}

#logo a:hover {
   color:darkgrey;
   text-decoration:none;
}

#tagline {
   margin:32px 22px 0 ;
   font-family:serif;
   font-family:serif;
   float: left;
}

#nav {
   float:right;
   margin:32px 12px 0 ;
}

#nav ul li {
   float:left;
   padding:0.5em;
   margin-left:1em;
}

.float-fix {
   clear: both;
}

h1 {
   font-size:2em;
   margin:20px 0;
   border-bottom:2px solid darkgrey;
}

h2 {
   font-size:1.5em;
   margin:20px 0;
}
h3 {
   font-size:1.2em;
   margin:20px 0;
}

#content p {
   margin:20px 10px;
   line-height:1.5em;
}

#footer {
   background-color:lightgray;
   padding: 1em;
}

#oil-list tr td {
   padding: 0.5em;
   border-bottom:1px solid darkgrey;
} 

#oil-list tr th {
   background:darkgrey;
   color:white;
   padding:1em;
}

.product {
   width:30%;
   margin:1em;
   padding:1em;
   float:left;
   background:#f9f9f9;
}

.price { 
   font-size:2.5em;
}

#markdown-help {
   float: right;
   border:lightgray solid 1px;
   padding: 20px;
   max-width:40%;
}

#oils-edit textarea {
   width: 50%;
   min-height: 2em;
   font-family:monospace;
   color:darkblue;
}

.product img {
   margin:0 auto ;

}

.product h3 {
   font-size:1.6em;
   margin:20px 0;
}

.product h3 a {
   font-size:1.6em;
   margin:20px 0;
   color:darkblue;
   text-decoration:none;
}
.product h3 a:hover {
   text-decoration:underline;
}

.product h3 a:visited {
   color:darkblue;
}


